{% extends 'main_site/base.html' %}
{% block content %}
<div class="ui container tb">
    <table class="ui selectable table" id="agenda">
        <thead>
            <tr>
            <th class="center aligned">時間</th>
            <th class="center aligned">內容</th>
            </tr>
        </thead>
        <tbody>
            {% for agenda_item in agenda%}
            <tr>
                <td class="center aligned">{{agenda_item.time}}</td>
                <td class="center aligned">{{agenda_item.title}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% for agenda_item in agenda%}
    <div class="ui modal" id="mb{{agenda_item.id}}">
        <i class="close icon"></i>
        <div class="header">
            議程介紹
        </div>
        <div class="image content">
            <div class="description">
                <div class="ui header">{{agenda_item.title}}</div>
                <p>{{agenda_item.introduction}}</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive button">
            報告書
            </div>
        </div>
    </div>
{% endfor %}

<script>
$('#agenda').find('tr').click( function(){
    // $('#mb1')
    //   .modal('show')
    // ;
    $('#mb'+($(this).index()))
      .modal('show')
    ;
});
</script>
{% endblock %}