{% extends 'main_site/base.html' %}
{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form action="" method="GET" class="ui form" id="question-form">
        {% csrf_token %}
        <div class="field">
            <label>N</label>
            <input type="text" name="n" placeholder="整數">
        </div>
        <div class="field">
            <label>K</label>
            <input type="text" name="k" placeholder="有號小數">
        </div>
        <input type="submit" class="ui submit button" value="submit">
        <div class="ui error message"></div>
    </form>
    {% if res %}
    <div class="ui segment">
        {% load nbsp %}
        <p>{{res|nbsp}}</p>
    </div>
    {% endif %}
  </div>
<script>
$('.ui.dropdown')
.dropdown();
$('.ui.form')
  .form({
    fields: {
      name: 'empty',
      title: 'empty',
      content: 'empty',
    }
  });
</script>
{% endblock %}