{% extends 'main_site/base.html' %}
{% block content %}
<div class="ui grid centered middle aligned">
        <div class="row">
            <div class="ui medium circular image">
                <img src="/static/img/avatar.jpg" width="100%">
            </div>
        </div>
        <h1 class="row">
            國立科學園區實驗高中第 9 屆科學班成果發表會
        </h1>
        <h2 class="row">
            地點： 國際會議廳大廳<br>
            日期: 5 / 30 (四)<br>
            入場時間： 12:40 - 13:10<br>
        </h2>
</div>
{% endblock %}