{% extends 'main_site/base.html' %}
{% block content %}
<div class="ui container">
    <form action="" method="POST" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label>提問者</label>
            {{question.asker}}
        </div>
        <div class="field">
            <label>問題標題</label>
            {{question.title}}
        </div>
        <div class="field">
            <label>問題內容</label>
            {{question.content}}
        </div>
        <div class="field">
            <textarea name="response">{{question.response}}</textarea>
        </div>
        <input type="submit" class="ui submit button" value="回覆">
    </form>
</div>
{% endblock %}