{% extends 'main_site/base.html' %}
{% block content %}
<div class="ui container">
    <form action="/submit" method="POST" class="ui form">
        {% csrf_token %}
        <div class="field">
            <label>你的名字</label>
            <input type="text" name="name" placeholder="你的名字">
        </div>
        <div class="field">
            <label>問題標題</label>
            <input type="text" name="title" placeholder="問題標題">
        </div>
        <div class="field">
          <label>類型</label>
          <div class="ui fluid selection dropdown">
            <input type="hidden" name="cat">
            <div class="default text">選擇類型</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="一般">一般</div>
              <div class="item" data-value="網頁">網頁</div>
              <div class="item" data-value="數學-another approach to cardinality">數學-another approach to cardinality</div>
              <div class="item" data-value="數學-群論在計數問題上之應用">數學-群論在計數問題上之應用</div>
              <div class="item" data-value="物理-關於磁鐵單擺陣列運動模式的探討">物理-關於磁鐵單擺陣列運動模式的探討</div>
              <div class="item" data-value="化學-可不可以別那麼「電」">化學-可不可以別那麼「電」</div>
              <div class="item" data-value="化學-含全氟烷基修飾之聚脯胺酸多肽的合成">化學-含全氟烷基修飾之聚脯胺酸多肽的合成</div>
              <div class="item" data-value="化學-探討奈米晶體之仿酵素活性及其比較">化學-探討奈米晶體之仿酵素活性及其比較</div>
              <div class="item" data-value="化學-光交聯水膠之性質及應用">化學-光交聯水膠之性質及應用</div>
              <div class="item" data-value="生物-食品添加物對誘發果蠅過動症狀之初探">生物-食品添加物對誘發果蠅過動症狀之初探</div>
              <div class="item" data-value="資訊-我要成為單機王">資訊-我要成為單機王</div>
            </div>
          </div>
        </div>

        <div class="field">
            <label>問題內容</label>
            <textarea name="content"></textarea>
        </div>
        <input type="submit" class="ui submit button" value="submit">
        <div class="ui error message"></div>
    </form>


<script>
$('.ui.dropdown')
.dropdown();
$('.ui.form')
  .form({
    fields: {
      name: 'empty',
      title: 'empty',
      content: 'empty',
    }
  });
</script>
{% endblock %}